<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Playback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row justify-content-center align-items-end style="position: absolute; bottom: 50px; width: 100%;">
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">HLS URL</ion-label>
        <ion-input type="text" [(ngModel)]="HLS_URL"></ion-input>
      </ion-item> 
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" (click)="startPlayback()">Start Playback</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" (click)="stopPlayback()">Stop Playback</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
